/* Styles for the footer */
.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: auto;
    align-items: center;
    height: 70px;
    background-color: #f2f2f2;
  }
  
  .footer-text {
    font-family: Arial, sans-serif;
    font-size: 14px;
    color: #666;
    margin: 0;
  }
  