*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: montserrat;
  }

.social-icons {
  color: #000;
  text-decoration: none;
}

.social-icons:hover {
  color: #ffcc00;
}

/* button-4 */
.button-4 {
  appearance: none;
  background-color: #FAFBFC;
  border: 1px solid rgba(27, 31, 35, 0.15);
  border-radius: 6px;
  box-shadow: rgba(27, 31, 35, 0.04) 0 1px 0, rgba(255, 255, 255, 0.25) 0 1px 0 inset;
  box-sizing: border-box;
  color: #24292E;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system, system-ui, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  list-style: none;
  padding: 6px 16px;
  position: relative;
  transition: background-color 0.2s cubic-bezier(0.3, 0, 0.5, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  white-space: nowrap;
  word-wrap: break-word;
  text-decoration: none;
}

.button-4:hover {
  background-color: #F3F4F6;
  text-decoration: underline;
  transition-duration: 0.1s;
}

.button-4:disabled {
  background-color: #FAFBFC;
  border-color: rgba(27, 31, 35, 0.15);
  color: #959DA5;
  cursor: default;
}

.button-4:active {
  background-color: #EDEFF2;
  box-shadow: rgba(225, 228, 232, 0.2) 0 1px 0 inset;
  transition: none 0s;
}

.button-4:focus {
  outline: 1px transparent;
}

.button-4:before {
  display: none;
}

.button-4:-webkit-details-marker {
  display: none;
}

.button-89 {
  --b: 3px;   /* border thickness */
  --s: .45em; /* size of the corner */
  --color: #ffffff;
  
  padding: calc(.5em + var(--s)) calc(.9em + var(--s));
  color: var(--color);
  --_p: var(--s);
  background:
    conic-gradient(from 90deg at var(--b) var(--b),#0000 90deg,var(--color) 0)
    var(--_p) var(--_p)/calc(100% - var(--b) - 2*var(--_p)) calc(100% - var(--b) - 2*var(--_p));
  transition: .3s linear, color 0s, background-color 0s;
  outline: var(--b) solid #0000;
  outline-offset: .6em;
  font-size: 16px;
  border: 0;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-89:hover,
.button-89:focus-visible{
  --_p: 0px;
  outline-color: var(--color);
  outline-offset: .05em;
}

.button-89:active {
  background: var(--color);
  color: #fff;
}

.column-container {
  display: flex;
  flex-wrap: wrap;
}

.column {
  flex: 1 1 50%;
  box-sizing: border-box;
  padding: 10px;
}

.social-icons {
  padding: 10px;
}

/* Style for the gallery */
.projectgallery {
  margin: 5px;
  border: 1px solid #ccc;
  float: left;
  max-width: 450px;
  max-height: 600px;
  overflow: hidden; /* Hide any content that overflows the container */
}

.projectgallery-gallery:hover {
  border: 1px solid #777;
}

.projectgallery-item {
  display: block;
  text-decoration: none;
}

/* Style for the image within the gallery item */
.projectgallery-image {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover; /* Crop the image to maintain aspect ratio and cover the container */
}

/* Style for the description */
.description {
  padding: 10px;
  text-align: center;
  color: black;
  line-height: 23px;
}

.date {
  padding-top: 5px;
  text-align: center;
  font-size: 12px;
  color: gray;
}

.projectgallery-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; /* Center the items */
  margin: 0 auto; /* Center the container itself */
  max-width: 1200px; /* Adjust the maximum width as needed */
  padding: 20px; /* Add some space around the container */
}

.sl-overlay {
  background: #000 !important;
}

.foldergallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; /* Center the items */
  margin: 0 auto; /* Center the container itself */
  max-width: 1200px; /* Adjust the maximum width as needed */
  padding: 20px; /* Add some space around the container */
}

.foldergallery-img {
  display: block;
  width: 300px;
  height: 300px;
  object-fit: cover; /* Crop the image to maintain aspect ratio and cover the container */
  padding: 2px;
}

.misc-section-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: auto;
}

.misc-section {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50vw;
  height: 60vh;
  border: 1px solid rgb(255, 255, 255);
}

.misc-section-media {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: brightness(50%);
  transition: filter 0.3s ease;
  background-color: #000;
}

.misc-section:hover .misc-section-media {
  transition: filter 0.3s ease;
  filter: brightness(100%);
}

.misc-section-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white; /* Adjust text color as needed */
  z-index: 1; /* Ensure the text is above the image */
}

.centered-link {
  /* Ensure the link is positioned properly */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2; /* Ensure the link is above the text */
  text-decoration: none;
}