---
layout: header-footer-page.njk
width: 100%
---
<body>
<div class="misc-section-container">
    {% for misc in misc-section %}
    <div class="misc-section">
        {% if misc.isVideo %}
            <video class="misc-section-media" autoplay muted loop type="video/webm" src="{{ misc.video }}"></video>
        {% else %}
            <img class="misc-section-media" src="{{ misc.thumbnail }}">
        {% endif %}
        <a href="{{ misc.link }}" class="centered-link">
            <h1 class="button-89">{{ misc.name }}</h1>
        </a>
    </div>
    {% endfor %}
</div>
</body>

<!--
<html>
    <body>
        <div class="column-container">
        <div class="column">
            <section class="gallery">
            {% foldergallery "/media/gallery/" %}
            </section>
        </div>
        </div>
    </body>
</html>
-->
