---
layout: header-footer-page.njk
width: 100%
---
<body>
<div class="misc-section-container">
    {% for misc in misc-section %}
    <div class="misc-section">
        {% if misc.isVideo %}
            <video playsinline loop muted autoplay class="misc-section-media" src="{{ misc.video }}" type="video/webm"></video>
        {% else %}
            <img class="misc-section-media" src="{{ misc.thumbnail }}">
        {% endif %}
        <a href="{{ misc.link }}" class="centered-link">
            <h1 class="button-89">{{ misc.name }}</h1>
        </a>
    </div>
    {% endfor %}
</div>
</body>
