---
layout: header-footer-page.njk
width: 100%
---
<body>
<div class="misc-section-container">
    {% for misc in misc-section %}
    <div class="misc-section">
        {% if misc.isVideo %}
            <video autoplay loop muted playsinline class="misc-section-media">
                <source src="{{ misc.video_mp4 }}" type="video/mp4">
                <source src="{{ misc.video_webm }}" type="video/webm">
            </video>
        {% else %}
            <img class="misc-section-media" src="{{ misc.thumbnail }}">
        {% endif %}
        <a href="{{ misc.link }}" class="centered-link">
            <h1 class="button-89">{{ misc.name }}</h1>
        </a>
    </div>
    {% endfor %}
</div>
</body>

<script>

</script>
