<div class="footer">
  <div class="footer-content">
    <p class="footer-text"> Martin Reinok © 2023 </p>
  </div>
  <div class="footer-content">
    <p class="footer-text" style="font-size: 10px; text-align: center;">
      This Website source is available <a href="https://github.com/orgs/martinreinok-com/repositories">here</a>
    </p>
  </div>
</div>
