<div class="misc-section" style="background-image: url({{ misc.thumbnail }})">
    <a href={{ misc.link }} style="text-decoration: none;">
        <h1 class="button-89">{{ misc.name }}</h1>
    </a>
</div>