<header>
  <nav>
    <div class="navbar-container">
      <a href="{{ '/' | url }}" class="logo">Martin Reinok</a>
      <ul class="navbar-links">
        <li><a href="{{ '/' | url }}">About Me</a></li>
        <li><a href="{{ '/projects' | url }}">Projects</a></li>
        <li><a href="{{ '/misc' | url }}">Misc</a></li>
        <li><a href="{{ '/resume' | url }}">Resume</a></li>
      </ul>
    </div>
  </nav>
</header>
