<header class="top-nav">
    <div class="intro">
        <div>
            <a class="home-button" href="/">Martin Reinok</a>
            <p class="home-about">Engineer | Developer | Artist</p>
        </div>
    </div>
    <nav class="nav-main">
        <ul class="nav-list">
          <li><a class="link" href="{{ '/' | url }}">About Me</a></li>
          <li><a class="link" href="{{ '/projects' | url }}">Projects</a></li>
          <li><a class="link" href="{{ '/misc' | url }}">Misc</a></li>
          <li><a class="link" href="{{ '/resume' | url }}">Resume</a></li>
        </ul>
    </nav>
</header>
