<div class="projectgallery">
  <a href="{{ project.link }}" class="projectgallery-item">
    <img src="{{ project.thumbnail }}" alt="{{ project.alt }}" class="projectgallery-image">
    <div class="description">
      <h3 class="heading">{{ project.name }}</h3>
      <p>{{ project.description }}</p>
      <p class="date" >{{ project.date }}</p>
    </div>
  </a>
</div>