<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
  </head>
  <link rel="stylesheet" href="/css/global.css">
  <link rel="stylesheet" href="/css/navbar.css">
  <link rel="stylesheet" href="/css/footer.css">
  <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
  <body>
    <script src="https://unpkg.com/ionicons@latest/dist/ionicons.js"></script>
    {% include 'templates/navbar.njk' %}
    <main style="min-height: calc(100vh - 160px);">
      {{ content | safe }}
    </main>
    {% include 'templates/footer.njk' %}
  </body>
</html>